
.foto {
  opacity: .5;
  width: 20em;
}
.brianintro {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8eef1;
  font-size: 2em;
  width: 10em;
  margin-left: 1em;
  display: inline-block;
}

.nav-link,
.navred {
  color: #43b0f1 !important;
  background-color: #1e3d58;
  display: inline-block;
}


body {
  color: #e8eef1 !important;
  background-color: #057dcd !important;
  background-image: url("../components/pages/spiral.png");

  text-align: center;

  width: 95%;

  place-items: center;



}
p {
  margin-left: 2em;
  margin-right: 2em;
}

h1 {
  margin-left: 1em;
  margin-right: 1em;
  color: #057dcd;
}

.headshot {
  background-image: url("../components/pages/brian.jpg");
}

.aboutText {
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
}

footer a{
  display: flex;
margin: auto;
  color:aquamarine
}
