.projectbg {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 5em;
  border-radius: 100%;
  background-image: url("../components/pages/sketch5.png");
}

.brianintro {

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2em;
  width: 10em;
  margin-left: 1em;
  display: inline-block;
}

.nav-link,
.navred {

  color: #7079d3 !important;
  background-image: url("../components/pages/sketch5.png");
  display: inline-block;
}

body {
  color: rgb(220, 290, 227) !important;
}
p {
  margin-left: 2em;
  margin-right: 2em;
}

h1 {
  margin-left: 1em;
  margin-right: 1em;
}

.headshot {
  background-image: url("../components/pages/brian.jpg");
}

.aboutText {
  margin-left: 2em;
  margin-right: 2em;
  display: inline-block;
}